<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Harini Parthasarathy</author>
	<description>
            E-prescription and Pharmacy software to place, revise, manage and record drug orders.
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

        
	<require_modules>
		<require_module version="${uiframeworkVersion}">
			org.openmrs.module.uiframework
		</require_module>
                
                <require_module version="${allergyapiVersion}">
			org.openmrs.module.allergyapi
		</require_module>
                
                <require_module version="${htmlformentryVersion}">
			org.openmrs.module.htmlformentry
		</require_module>
                
                <require_module version="${htmlwidgetsVersion}">
			org.openmrs.module.htmlwidgets
		</require_module>
                
                <require_module version="${uicommonsVersion}">
                    org.openmrs.module.uicommons
                </require_module>
	</require_modules>

	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.drugordersActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
            <point>org.openmrs.admin.list</point>
            <class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
	<mappingFiles>
            drugorders.hbm.xml
	</mappingFiles>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

